@media (max-width: 1000px) {
    .header-page__nav{
        display: block;
    }

    .nav-btn{
        z-index: 5;
        display: block;
        position: absolute;
        width: 30px;
        height: 18px;
        cursor: pointer;
        /* position: fixed; */
        right: 3%;
        /* left: 25%; */
    }
    .nav-btn::before,
    .nav-btn::after,
    .nav-btn span{
        left: 0;
        position: absolute;
        height: 12%;
        width: 100%;
        transition: all .3s ease 0s;
        background-color: black;
    }
    .nav-btn::before,
    .nav-btn::after{
        content: "";
    }
    .nav-btn::before{
        bottom: 0;
    }
    .nav-btn span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .header-page__nav.open .header-page__ul{
		position: absolute;
		top: 0;
		right: 0;
		background-color: #007aff;
        border-bottom-left-radius: 20px;

		z-index: 1;
		padding: 46px 30px;
        padding-left: 15px;
        padding-top: 55px;
		display: flex;
		flex-direction: column;
		row-gap: 40px;

		font-size: 20px;
		font-weight: 600;
    }
    .header-page__ul{
        display: none;
    }
    .header-page__link{
        color: white;
    }
    .header-page__button{
        display: none;
    }
    .section-steps__steps{
        display: flex;
        justify-content: center;
        column-gap: 70px;
        /* flex-wrap: wrap; */
    }
}

@media (max-width:1120px) {
    .slider__container{
        display: block;
    }
    .section-review__reviews{
        display: none;
    }
}
@media (max-width:804px) {
    /* .header-page-nav{
        width: 0;
    } */
    .image{
        display: none;
    }
    .content__img{
        width: 0;
    }
    .content__calc{
        width: 60%;
        margin: 0 auto;
    }
    .slider{
        display: block;
        width: 270px !important;
        height: 270px;
    }
    .footer__left{
        width: 100%;
    }
    .footer__center{
        margin: 0;
    }
}

@media (max-width:616px) {
    .section-top__header{
        font-size: 1.6em;
        width: 468px;
    }
    .content__calc{
        width: 100%;
    }
    .footer__center{
        width: 100%;
    }
}

@media (max-width:478px) {
    .section-top__content{
        width: 100%;
    }
    .section-top__header{
        font-size: 1.6em;
        width: 250px;
        text-align: center;
    }
    .slider-prev,
    .slider-next{
        width: 30px;
        height: 30px;
    }
    .reviews__review-sl{
        width: 270px;
        height: 300px;
        min-width: 270px;
        min-height: 300px;
        padding: 0 25px 25px 25px;
    }
    .slider{
        height: 300px;
    }
}