.section-review{
    padding-top: 100px;
    background-color: #f8f8f8;
}
.section-review__header{
    max-width: 375px;
    margin: 0 auto;
    font-size: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.section-review__reviews{
    display: flex;
    column-gap: 30px;
    row-gap: 60px;
    flex-wrap: wrap;
}
.reviews__review,
.reviews__review-sl{
    width: 330px;
    height: 270px;
    min-width: 270px;
    min-height: 270px;
    background: white;
    padding: 0 25px 25px 25px;
    text-align: center;
    border: 1px solid #ebebeb;
    border-radius: 7px 7px;
    box-shadow: rgb(33 33 33 / 6%) 0 4px 24px 5px
}
.review__name{
    font-size: 15px;
    margin: 35px auto;
}
.review__text{
    color: #61908a;
    font-size: 18px;
    font-style: italic;
}
.slider__container{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}
.slider-line{
    display: flex;
    transition: all ease 1s;
}
.slider{
    display: none;
    /* border: 2px solid black; */
    /* width: 100%; */
    max-width: 80%;
    width: 270px;
    height: 270px;
    /* height: 300px; */
    margin: 20px auto;
    overflow: hidden;
}
.reviews__review-sl{
    width: 270px;
}
.slider-prev,
.slider-next{
    display: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #007aff;
    border: 0;
}